name: commit
on:
  push:
    paths: ['*', 'installer/**', '.github/**']

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - uses: ./.github/run-tests

      - name: Upload Installer
        uses: actions/upload-artifact@v4
        with:
          name: DXRando
          path: installer/dist/DXRandoInstaller.exe

      - name: Upload installer warnings
        uses: actions/upload-artifact@v4
        with:
          name: installerwarnings.txt
          path: installer/build/installer/warn-installer.txt

      - name: Upload Bingo Viewer
        uses: actions/upload-artifact@v4
        with:
          name: BingoViewer
          path: installer/dist/BingoViewer.exe

  linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - run: sudo apt-get update -y
      - run: sudo apt-get install -y python3-tk idle3 binutils

      - uses: ./.github/run-tests

      - name: Upload Installer
        uses: actions/upload-artifact@v4
        with:
          name: DXRando-linux
          path: installer/dist/DXRandoInstaller

      - name: Upload installer warnings
        uses: actions/upload-artifact@v4
        with:
          name: installerwarningslinux.txt
          path: installer/build/installer/warn-installer.txt

      - name: Upload Bingo Viewer
        uses: actions/upload-artifact@v4
        with:
          name: BingoViewer-linux
          path: installer/dist/BingoViewer
